jason-mills/Rendering/.vs/
jason-mills/Rendering/bin/
jason-mills/Rendering/Dependencies
jason-mills/Rendering/Rendering.sln
jason-mills/Rendering/Rendering/Rendering.vcxproj
jason-mills/Rendering/Rendering/Rendering.vcxproj.filters
jason-mills/Rendering/Rendering/Rendering.vcxproj.user
