
*.vsidx
jason-mills/Rendering/.vs/Rendering/v17/.suo
jason-mills/Rendering/.vs/Rendering/v17/Browse.VC.db
*.ipch
*.obj
*.exe
*.iobj
*.pdb
*.ipdb
*.iobj
*.obj
jason-mills/Rendering/.vs/Rendering/v17/Browse.VC.db
jason-mills/Rendering/.vs/Rendering/v17/.suo
